:root{
    --dark: #16191c;
    --darl-x: #1e2126;
    --light: #FFFFFF;
}
body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}
.bg-dark{
    background-color: var(--dark) !important;
}
.bg-dark-x{
    background-color: var(--darl-x);
}
.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;
}
.btn{
    background-color: #00BD82;
}
.form-text{
    color: var(--light);
}